 body {
            background-color: #e3b4b8;
            /*background-image: url('https://cdn.pixabay.com/photo/2019/03/17/11/33/sailing-boat-4060710_960_720.jpg');*/
            /*background-size: contain;*/
            background-size: cover;
        }

        /*table {*/
        /*    width: 300px;*/
        /*    border-collapse: collapse;*/
        /*}*/

        /*th, td {*/
        /*    padding: 8px;*/
        /*    text-align: left;*/
        /*    border-bottom: 1px solid #ddd;*/
        /*}*/

        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            /*height: 2000vh; !* 设置容器高度为浏览器视口的高度 *!*/
        }

        .container2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            /*height: 2000vh; !* 设置容器高度为浏览器视口的高度 *!*/
        }

        .container > div {
            margin: 5px; /* 可选的外边距，根据需要调整 */
        }

        .myButton {
            box-shadow: inset 0px 1px 0px 0px #f7c5c0;
            background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
            background-color: #fc8d83;
            border-radius: 6px;
            border: 1px solid #d83526;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 6px 24px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #b23e35;
        }

        .myButton:hover {
            background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
            background-color: #e4685d;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }
