    table {
        width: 70%;
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 0;
        font-family: Arial, sans-serif;
        background-color: #f7c5d1;
        text-align: center;
        border-radius: 10px;
    }

    th, td {
        padding: 10px;
        font-size: 20px;
    }

    th {
        background-color: #f098af;
        color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    tr:nth-child(even) {
        background-color: #fce4e8;
    }

    tr:hover {
        background-color: #ffd3db;
    }

    #temperature {
        color: #874c62;
    }

    #humidity {
        color: #c69fa5;
    }

    #attitude {
        color: #e6bccd;
    }

    #smoke {
        color: #f0d5d9;
    }